<p id="capital-income-ratio-graph">
</p>

<style>
.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.line.Britain {
  stroke: #FF0000;
}

.Britain rect {
  fill: #FF0000;
}

circle.marker.Britain {
  stroke: #FF0000;
}

.line.Germany {
  stroke: #000000;
}

.Germany rect {
  fill: #000000;
}

circle.marker.Germany {
  stroke: #000000;
}

.line.France {
  stroke: #0000FF;
}

.France rect {
  fill: #0000FF;
}
circle.marker.France {
  stroke: #0000FF;
}

circle.marker {
  fill: #ffffff;
  stroke-width: 1.5px;
}

rect.tooltip {
  fill: #ffffff;
  stroke: #fb5050;
  stroke-width: 1.5px;
}

</style>

<script>

d3.csv("{{ "/data/capital-income-ratio-europe.csv" | prepend: site.baseurl }}",
       function (data) {
           var formatDate = d3.time.format("%Y");

           var chart = liquidmon.multiTimeSeriesChart()
                                .x(function(d) { return formatDate.parse(d.year); })
                                .ys({
                                      "Germany" : function(d) { return +d.Germany; },
                                      "France" : function(d) { return +d.France; },
                                      "Britain" : function(d) { return +d.Britain; },
                                })
                                .yFormat(function(d) { return chart.yScale().tickFormat(this.yTicks, ".0f")(d); })
                                .tooltipFormat(function(d) { return chart.yScale().tickFormat(this.yTicks, ".2f")(d); })
                                .height(240)
                                .width(920);

           d3.select("#capital-income-ratio-graph")
               .datum(data)
             .call(chart);
       });

</script>
